<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<!-- <#achk_ver#> -->	
<html>
<head>
<script language="javascript">
//<!--
	function doload() {
		if (parent.TimeoutID != null) {
			parent.clearTimeout(parent.TimeoutID);
			parent.OnTimerOut();
		}
	}
//-->
</script>
</head>
<body onload="javascript:doload();"></body>
</html>
<!-- <#achk_ver#> -->	
